<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" class="btn btn-link">
      На главную
    </button>
  </div>

  <div class="info">
    <strong>Тут Автор</strong>
    <small>21.11.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor facilis tempore voluptate deleniti atque ex
      maiores similique itaque neque hic, culpa optio. Voluptates rerum, repudiandae magni magnam aperiam ratione
      corrupti sint illum rem minus soluta sapiente iste sequi unde? Aliquid, quidem neque iure doloremque laudantium
      repudiandae odit aperiam suscipit. Officia.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor facilis tempore voluptate deleniti atque ex
      maiores similique itaque neque hic, culpa optio. Voluptates rerum, repudiandae magni magnam aperiam ratione
      corrupti sint illum rem minus soluta sapiente iste sequi unde? Aliquid, quidem neque iure doloremque laudantium
      repudiandae odit aperiam suscipit. Officia.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor facilis tempore voluptate deleniti atque ex
      maiores similique itaque neque hic, culpa optio. Voluptates rerum, repudiandae magni magnam aperiam ratione
      corrupti sint illum rem minus soluta sapiente iste sequi unde? Aliquid, quidem neque iure doloremque laudantium
      repudiandae odit aperiam suscipit. Officia.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor facilis tempore voluptate deleniti atque ex
      maiores similique itaque neque hic, culpa optio. Voluptates rerum, repudiandae magni magnam aperiam ratione
      corrupti sint illum rem minus soluta sapiente iste sequi unde? Aliquid, quidem neque iure doloremque laudantium
      repudiandae odit aperiam suscipit. Officia.</p>
  </div>
</div>